= form_for(@season) do |f|
  - if @season.errors.any?
    #error_explanation
      %h2
        = pluralize(@season.errors.count, "error")
        prohibited this season from being saved:
      %ul
        - @season.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :beginning_date
    %br/
    = f.date_select :beginning_date
  .field
    = f.label :ending_date
    %br/
    = f.date_select :ending_date
  = @season.name
  Members List
  %ul
    = f.fields_for :memberships, @memberships do |memberships_form|
      %li{id: "#{memberships_form.object.month.downcase}_membership"}
        - month_options = options_for_select((1..12).map {|m| month_name = Date::MONTHNAMES[m]; [month_name, month_name]}, memberships_form.object.month)
        = memberships_form.select(:month, month_options)

        = memberships_form.collection_select(:member_id, Member.all, :id, :name, { include_blank: true } )
  .actions
    = f.submit
