= form_for(@season) do |f|
  - if @season.errors.any?
    #error_explanation
      %h2
        = pluralize(@season.errors.count, "error")
        prohibited this season from being saved:
      %ul
        - @season.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :beginning_date
    %br/
    = f.date_select :beginning_date
  .field
    = f.label :ending_date
    %br/
    = f.date_select :ending_date
  = @season.name
  Members List
  %table
    = f.fields_for :memberships, @memberships do |mf|
      %tr{id: "#{mf.object.month.name.downcase}_membership"}
        %td= mf.label :member_id, mf.object.month.name
        %td= mf.collection_select(:member_id, Member.all, :id, :name, { include_blank: true } )
  .actions
    = f.submit
