%p#notice= notice
%p
  %strong Name:
  = @season.name
%p
  %strong Beginning date:
  = @season.beginning_date
%p
  %strong Ending date:
  = @season.ending_date
%div
  %table
    - @season.memberships.each do |membership|
      %tr{id: "#{membership.month.name.downcase}_membership"}
        %td= membership.month.name
        %td= membership.member.try(:name)

= link_to 'Alter Season', edit_season_path(@season)
|
= link_to 'Back', seasons_path
